---
import Base from '../layouts/Base.astro';

---

<Base titre="Accueil">
    <h1 class="text-3xl">Accueil</h1> 
	<p class="px-3 py-8">Bienvenue chez IMMO 34
		Votre partenaire de confiance pour trouver la maison de vos rêves ou vendre votre bien en toute sérénité. Nous vous accompagnons à chaque étape de votre projet immobilier grâce à notre expertise locale, nos services personnalisés et un engagement total pour votre satisfaction. Découvrez nos offres exclusives et laissez-nous réaliser vos ambitions immobilières.
		
		Trouvez votre futur chez-vous dès aujourd'hui !</p>
</Base>
