---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import localBirdImage from '../assets/local-bird.jpg';
import Image from 'astro/components/Image.astro';
---

<Base titre="Offres">
    <h1 class="text-3xl">Offres</h1> 
    <!-- <img src={} alt="villa avec piscine "> -->
</Base>
