---

---

<header class="bg-red-300">
    <nav>
        <a class="m-5" href="/">Accueil</a>
        <a class="m-5" href="/offres">Offres</a>
        <a class="m-5" href="/agents">Agents</a>

        <a class="m-5" href="/offres/surface/300"> Maison supérieur à 300m2 </a>
        <a class="m-5" href="/offres/add"> Ajouter une nouvelle offre  </a>

    </nav>
</header>
